/*
div {
  border: solid 1px black;
}

/* SOCIALS */
#twitter, #instagram, #facebook, #linkedin{
  width: 32px;
}

.img {
  max-width: 100%;
  height: auto;
}

.dark-banner {
  height: 200px;
  margin-top: -200px;
}

.categories {
  border-radius: 25px;
  border: 2px solid black;
}